@model WareHouseManagementSystem.Login
@{
    ViewBag.Title = "Reset Password";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
    <style>
        body {
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-image: url('https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGJsdXJyZWQlMjBjb2xvciUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        .container {
            width: 800px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            background-image: url('https://img.freepik.com/free-vector/blurred-background-with-light-colors_1034-245.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        .form-horizontal .form-group {
            margin-bottom: 20px;
        }

        .text-danger {
            color: #f00;
        }

        .btn-default {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
        }

            .btn-default:hover {
                background-color: #45a049;
            }

        .link {
            text-align: center;
            margin-top: 20px;
        }

        .reset-password-popup {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
            overflow: auto;
        }

            .reset-password-popup .popup-content {
                background-color: #fff;
                max-width: 400px;
                margin: 100px auto;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
                animation: showPopup 0.3s forwards;
            }

        @@keyframes showPopup {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .form-control {
            width: 80%;
            padding: 12px;
            font-size: 16px;
        }
    </style>

</head>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h2 style="text-align:center">Reset Password</h2>
            <hr />


            <div class="form-group">
                @Html.LabelFor(model => model.username, "Email*", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                    <br />
                    @if (Model.username == null)
                    {
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    }

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.password, "Password*", htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                    <br />
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("confirmPassword", "Confirm Password*", htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    @Html.Password("confirmPassword", null, new { @class = "form-control" })
                </div>
            </div>
            @if (Model.password != null)
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            }

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" id="saveButton" />
                </div>
            </div>

        </div>
    }
    <div class="link">
        <span style="font-size: 20px; text-align:center">&#x21A9</span>
        @Html.ActionLink("Back To Login", "Login")
    </div>

</div>

<!-- Confirmation popup -->
<div class="reset-password-popup" id="confirmationPopup">
    <div class="popup-content">
        <h4>Confirm Save</h4>
        <p>Are you sure you want to save the changes?</p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Yes" class="btn btn-default" id="confirmSaveButton" />
                <input type="button" value="No" class="btn btn-default" id="cancelSaveButton" />
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Show confirmation popup when the form is submitted
        $("#saveButton").click(function (e) {
            e.preventDefault();
            $("#confirmationPopup").fadeIn();
        });

        // Handle save confirmation
        $("#confirmSaveButton").click(function () {
            // Submit the form
            $("form").submit();
        });

        // Handle cancel save
        $("#cancelSaveButton").click(function () {
            $("#confirmationPopup").fadeOut();
        });
    });
</script>

    
</body>
</html>
